.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
}

.work {
  width: 1440px;
  height: 70%;
  background-color: hsl(185, 75%, 39%);
}

.test1 {
  background-image: url("./images/bg-pattern-bottom.svg");
  height: 50%;
  width: 50%;
  position:absolute;
  right:0;
  bottom: 0;
}


.test2 {
    background-image: url("./images/bg-pattern-card.svg");
    height: 100%;
    width: 100%;
  }

body {
    height: 100%
}

html {
    height: 100%; 
}