.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
}

.work {
  width: 1440px;
  height: 720px;
  background-color: hsl(185, 75%, 39%);
  position:absolute;
}

.bg1 {
  background-image: url("./images/bg-pattern-top.svg");
  height: 100%;
  width: 50%;
  background-repeat:no-repeat;
  background-position-x: -260px;
  background-position-y: -500px;
  position:absolute;
}


.bg2 {
    background-image: url("./images/bg-pattern-bottom.svg");
    height: 100%;
    width: 50%;
    position:absolute;
    right: 0;
    background-position-y:350px;
    background-repeat:no-repeat;
  }

body {
    height: 100%
}

html {
    height: 100%; 
}