/* mobile first */

.work {
  background: white;
  display: flex;
  border-radius: 10px;
  overflow:hidden;
}

.d-work {
  flex-direction: row;
}

.m-work {
  flex-direction: column;
  width: 330px;
}

img {
  margin-bottom: 15px;
}

@font-face {
    font-family: "Manrope-B";
    src: url("./fonts/Manrope/static/Manrope-Bold.ttf");
}

.bold {
  font-weight: 700;
  margin: 30px 42px;
  line-height: 24px;
  font-family: "Manrope-B";
  font-size: 15px;
}

.light {
  margin: 0 42px 30px 42px;
}

.foot {
  display: flex;
  flex-direction: row;
  margin: 0 42px 30px 42px;
  align-items: center;
  justify-content: space-between;;
}

.profile {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: "Manrope-B"
}

.face {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  margin-right: 15px;
  margin-bottom: 0;
}

.left{
  display: flex;
}

.shareBorder {
  padding: 10px;
  background:hsl(210, 46%, 95%);
  border-radius: 50px;
}

.share {
  margin: 0;
}