<main>
  <!--   test font-awesome - <i class="fab fa-accessible-icon"></i> -->
  <img class="logo" alt="logo" src="../assets/logo.svg">
  <h2>We are launching <span>soon!</span></h2>
  <span>Subscribe and get notified</span>
  <div>
    <input placeholder="Your email address" />
    <button>Notify Me</button>
  </div>
  <!-- large image -->
  <img alt="large" src="../assets/illustration-dashboard.png" class="large"/>
  <div>
    <!-- buttons -->
  </div>
  <footer>
    <span>&copy; Copyright Ping. All rights reserved.</span>
  </footer>
</main>
