<main>
  <img class="logo" alt="logo" src="./assets/logo.svg">
  <h2>We are launching <span>soon!</span></h2>
  <span class="mini">Subscribe and get notified</span>
  <div class="form">
    <div class="inputC">
    <input [class]="error ?'inputE' : ''" placeholder="Your email address" />
    <span *ngIf="error" class="errorS">Please provide a valid email address</span>
  </div>
    <button (click)="toggleError()" [class]="error ? 'errorBut' : ''">Notify Me</button>
  </div>
  <!-- large image -->
  <img alt="large" src="./assets/illustration-dashboard.png" class="large"/>
  <div class="icons" (click)="iconClick($event)">
    <!-- buttons -->
    <i id="fb" [class]="'fab fa-facebook-f'.concat(activeButtons['fb'] ? ' activeI' : '')"></i>
    <i id="twit" [class]="'fab fa-twitter'.concat(activeButtons['twit'] ? ' activeI' : '')"></i>
    <i id="ig" [class]="'fab fa-instagram'.concat(activeButtons['ig'] ? ' activeI' : '')"></i>
  </div>
  <footer>
    <span>&copy; Copyright Ping. All rights reserved.</span>
  </footer>
</main>
