<main>
  <img class="logo" alt="logo" src="../assets/logo.svg">
  <h2>We are launching <span>soon!</span></h2>
  <span class="mini">Subscribe and get notified</span>
  <div class="form">
    <input placeholder="Your email address" />
    <button>Notify Me</button>
  </div>
  <!-- large image -->
  <img alt="large" src="../assets/illustration-dashboard.png" class="large"/>
  <div class="icons">
    <!-- buttons -->
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <footer>
    <span>&copy; Copyright Ping. All rights reserved.</span>
  </footer>
</main>
