/*

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)


### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
*/

@font-face {
    font-family: "Poppins";
    src: url("../sharedfonts/Poppins/Poppins-Black.ttf");
  }
  
  @font-face {
    font-family: "PoppinsB";
    src: url("../sharedfonts/Poppins/Poppins-Bold.ttf");
  }

body {
    font-size:  16px;
    font-family: "Poppins";
    background: #333;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    width: 375px;
    background: hsl(0, 100%, 74%);
    background-image: url("./images/bg-intro-mobile.png");
    color: white;
    height: 100%;
    text-align: center;
}

h2 {
    background: hsl(248, 32%, 49%);
    margin-left: 20px; 
    margin-right: 20px;
    border-radius: 12px;
}

.intro {
  margin: 20px;
  margin-bottom: 48px;
}

h1 {
    margin-top: 84px;
    margin-left: 24px;
    margin-right: 24px;
}

footer {
    position: absolute;
    bottom: 15px;
}

/* desktop */
@media only screen and (min-width: 800px) {
}
