/*
- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

*/

@font-face {
    font-family: 'Josefin Sans';
    font-weight: 300, 400, 600;
    src: url("../sharedfonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

body {
  font-family: 'Josefin Sans';
  font-size: 16px;
}