/* You can add global styles to this file, and also import other style files */


$Blue: hsl(223, 87%, 63%) 
$PaleBlue: hsl(223, 100%, 88%)
$Gray: hsl(0, 0%, 59%)
$VeryDarkBlue: hsl(209, 33%, 12%)

@font-face 
    font-family: 'Libre Franklin'
    src: url(../../../sharedfonts/Libre_Franklin/static/LibreFranklin-Regular.ttf)


@mixin centered
  display: flex
  align-items: center 
  justify-content: center
  
@mixin centered-col
  @include centered
  flex-direction: column

body
    @include centered
    height: 100%
    width: 100%
    position: absolute
    font-family: 'Libre Franklin'
    background: #222
    font-size: 20px

main 
    @include centered-col
    width: 375px
    background: white
    

.large 
    width: 325px
    height: auto

.logo
    width: 90px
    height: auto


@media only screen and (min-width: 800px)
    body
        background: #ccc
    main
        width: 1440px