/* 

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

*/

@font-face {
    font-family: 'Red Hot';
    src: url(../sharedfonts/Red_Hat_Display/RedHatDisplay-Regular.ttf)
}

@font-face {
    font-family: 'Red Hot B';
    src: url(../sharedfonts/Red_Hat_Display/RedHatDisplay-Bold.ttf)
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 375px;
  background-color: hsl(225, 100%, 94%); 
  height: calc(100% - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
}

footer {
    position: fixed;
    bottom: 15px;
}

/* desktop */
@media only screen and (min-width: 800px) {
  body {
      background: #ccc;
  }

  main {
      width: 1440px;
      height: 770px;
      background-image: url(./images/pattern-background-desktop.svg)
  }
}